@media (max-width:1000px){
    button{display: none}
}
@media (min-width:1000px){
    #selecteur{display: none}
 }
body{
    background-color: aqua;
}
button{
    background-color: white;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
}